<div class="range">
    <div class="complete-track">
        <div class="complete-shadow"></div>
        <div class="complete-value"></div>
    </div>
    <div class="separator"></div>
    <div class="editable-track">
        <div class="editable-bullet"></div>
    </div>
</div>
