:host
	display block


.range
	position relative
	overflow hidden

	.complete-track
		position relative
		background #bbb
		border-radius 2px
		overflow hidden
		box-sizing border-box

	.complete-shadow
		position absolute
		background #ddd
		bottom 0

	.complete-value
		position absolute
		background #fff
		bottom 0


	.separator
		display none
		position absolute
		background #CFD0E8
		border-radius 1px


	.editable-track
		display none
		position absolute
		left 0
		top 0
		right 0
		bottom 0

	.editable-bullet
		display none
		position absolute
		width 10px
		height 10px
		border-radius 5px
		background #fff
		box-shadow 0 0 4px 1px #aaa





/*
 * Specific horizontal range
 */
:host(:not([direction="vertical"]))
	.range
		.complete-track
			height 4px
			margin 3px 0

		.complete-shadow
			height 100%

		.complete-value
			height 100%

		.separator
			top 0
			bottom 0
			width 2px

		.editable-track
			margin-right 10px

		.editable-bullet
			top 50%
			transform translateY(-50%)



/*
 * Specific vertical range
 */
:host([direction="vertical"])

	.range
		height 100%
		width 10px
		.complete-track
			height 100%
			width 4px
			margin 0 3px

		.complete-shadow
			width 100%

		.complete-value
			width 100%

		.separator
			left 0
			right 0
			height 2px

		.editable-track
			margin-top 10px

		.editable-bullet
			left 50%
			transform translateX(-50%)





/*
 * Specific editable range
 */
:host([editable="true"])
	.range
		.editable-track
			display block





/*
 * Specific editable with bullet range
 */
:host([editable="true"][bullet="true"])
	.range
		.editable-bullet
			display block











