

:host
	display block
	position relative
	overflow-y hidden

	& > .toggle
		position relative
		width 44px
		height 18px
		background #fff
		border #ccc 1px solid
		border-radius 10px

		& > .point
			position absolute
			left 4px
			top 7px
			height 4px
			width 17px
			background #acb7c3
			border-radius 2px
			transition all .2s ease-in

			&.active
				left 26px
				top 2px
				height 14px
				width 14px
				border-radius 7px
				background #4e649c
