
:host
	display block

.settings-button
	color #777
	line-height 30px
	margin-right 6px
	padding-left 10px
	border-radius 15px

	&:focus
		outline none

	.content
		&::after
			content ''
			display inline-block
			width 16px
			height 16px
			margin 7px 6px 7px 12px
			vertical-align middle
			background url("icons/settings.svg")



