:host
	display block

	ui-range[direction="horizontal"]
		position absolute
		left 120px
		width 100px

	ui-range:nth-of-type(1)
		top 20px
	ui-range:nth-of-type(2)
		top 40px
	ui-range:nth-of-type(3)
		top 60px
	ui-range:nth-of-type(4)
		top 80px
		width 140px
	ui-range:nth-of-type(5)
		top 100px
		width 140px
	ui-range:nth-of-type(6)
		top 120px
		width 140px


	ui-range[direction="vertical"]
		position absolute
		top 20px
		height 100px

	ui-range:nth-of-type(7)
		left 280px
	ui-range:nth-of-type(8)
		left 300px
	ui-range:nth-of-type(9)
		left 320px
	ui-range:nth-of-type(10)
		left 340px
		height 120px
	ui-range:nth-of-type(11)
		left 360px
		height 120px
	ui-range:nth-of-type(12)
		left 380px
		height 120px



.player
	position relative
	height 200px
	background #ffd98c
	overflow hidden



	.background
		position absolute
		left -10px
		right -10px
		top -10px
		bottom -10px
		-webkit-filter blur(5px) brightness(85%)
		z-index 0


	.cover
		position absolute
		width 80px
		height 80px
		left 26px
		top 45px
		border-radius 50%
		box-shadow 0 0 8px 0 #777
		z-index 2


	.controls
		display flex
		justify-content space-around
		position absolute
		height 46px
		bottom 0
		left 0
		right 0
		background rgba(135, 133, 117, .6);


		.control-button
			flex-basis 110px
			border none
			border-radius 50px
			background none
			padding 0
			transition background .2s ease-out

			&:focus
				outline none

			&:hover
				background rgba(130, 130, 130, .15)

			&::before
				content ''
				display block
				width 16px
				height 16px
				margin 17px auto

			&.prev::before
				background url("icons/prev.svg") center no-repeat;

			&.play::before
				background url("icons/play.svg") center no-repeat;

			&.pause::before
				background url("icons/pause.svg") center no-repeat;

			&.next::before
				background url("icons/next.svg") center no-repeat;
