<section class="player">

    <div class="background" style="background: url('/components/ui-player/icons/cover-bg.jpg') no-repeat center">

    </div>

    <!--<div class="visualisation"></div>-->

    <!--<ui-range class="volume"></ui-range>-->

    <img class="cover" src="/components/ui-player/icons/cover.jpg">

    <div class="description">
        <p class="artist">Shakira</p>
        <p class="title">Loca-Loca (Spanish)</p>
    </div>


    <ui-range direction="horizontal" max="10" value="2"></ui-range>

    <ui-range direction="horizontal" max="10"  value="2"></ui-range>

    <ui-range direction="horizontal" editable="true" min="-10" max="10" step="2" final-only shadow-value="-5" value="2"></ui-range>

    <ui-range direction="horizontal" editable="true" min="10" max="20" step="2" final-only value="12"></ui-range>

    <ui-range direction="horizontal" editable="true" bullet="true" max="10" padding="4"></ui-range>

    <ui-range direction="horizontal" editable="true" bullet="true" min="-10" max="10" step="1"></ui-range>


    <ui-range direction="vertical" max="10"></ui-range>

    <ui-range direction="vertical" max="10" step="2"></ui-range>

    <ui-range direction="vertical" editable="true" min="-10" max="10" step="2" final-only shadow-value="-5" value="2"></ui-range>

    <ui-range direction="vertical" editable="true" min="10" max="20" step="2" final-only value="12"></ui-range>

    <ui-range direction="vertical" editable="true" bullet="true" max="10" padding="4"></ui-range>

    <ui-range direction="vertical" editable="true" bullet="true" min="-10" max="10" step="1"></ui-range>




    <!--<ui-range class="duration"></ui-range>-->

    <div class="controls">
        <button class="control-button prev"></button>
        <button class="control-button pause"></button>
        <button class="control-button next"></button>
    </div>
</section>
