<section class="header">

    <div class="header__controls">
        <button class="header__control close"></button>
        <button class="header__control minimize"></button>
        <button class="header__control inactive"></button>
    </div>

    <div class="header__content">
        <content select="header"></content>
    </div>

</section>

<div class="content">
    <content class="window-content" select="main"></content>
</div>
