:host
	display block


.header
	position: relative;
	display flex
	align-items center
	justify-content space-between
	height 36px
	border-bottom #b0afb0 1px solid
	background linear-gradient(to bottom, #ededed, #dedede)
	z-index: 1000;
	-webkit-app-region drag


	&__controls
		margin 0 10px
		-webkit-app-region no-drag

	&__control
		width 12px
		height 12px
		margin 0 2px
		border none
		border-radius 50%

		&:focus
			outline none

		&.close
			background #e76a63
			box-shadow 0 0 2px 0 #a95951 inset

		&.minimize
			background #f3c15a
			box-shadow 0 0 2px 0 #c5a16d inset

		&.inactive
			background #c4c3c3
			box-shadow 0 0 2px 0 #949393 inset

	&__content
		position relative
		-webkit-app-region no-drag

.content
	height calc(100% - 38px)
