@keyframes bubbling {
	from {
		transform scale(.1)
		opacity 1
	}
	to {
		transform scale(1)
		opacity 0
		visibility hidden
	}
}

:host
	display block
	position relative
	overflow-y hidden

	// fix for webkit border-radius and overflow bug
	// when using any animation/transition
	transform: translateZ(0);

	& > .content
		//display inline-block
		position relative
		z-index 1


	& > .bubble
		position absolute
		background radial-gradient(#dadada, #eaeaea)
		border-radius 50%
		animation bubbling .6s ease-out forwards

