:host
	display block


.settings
	position absolute
	right 10px
	top 28px
	min-width 250px
	margin 0
	padding 0
	border-radius 3px
	background rgba(255,255,255, .95);
	border #dfdfdf 1px solid
	box-shadow 0 0 10px 0 #777


	.item
		width 100%
		display flex
		align-items center
		border-bottom #ccc 1px solid

		& > .item-icon
			width 16px
			height 16px
			margin 12px
			opacity .7

			&.icon-expand
				background url("icons/expand.svg");
			&.icon-tab
				background url("icons/new-window.svg");


		& > .item-name
			flex-grow 1
			margin 0
			color #555

		& > .item-toggle
			margin: 0 14px
