<section class="settings">

    <ui-button class="js-frequencies">
        <div class="item">
            <div class="item-icon icon-expand"></div>
            <p class="item-name">
                <ui-i18n string="frequencies"></ui-i18n>
            </p>
            <div class="item-toggle">
                <ui-toggle></ui-toggle>
            </div>
        </div>
    </ui-button>

    <ui-button class="js-equalizer">
        <div class="item">
            <div class="item-icon icon-expand"></div>
            <p class="item-name">
                <ui-i18n string="equalizer"></ui-i18n>
            </p>
            <div class="item-toggle">
                <ui-toggle></ui-toggle>
            </div>
        </div>
    </ui-button>

    <ui-button class="js-caching">
        <div class="item">
            <div class="item-icon icon-expand"></div>
            <p class="item-name">
                <ui-i18n string="caching"></ui-i18n>
            </p>
            <div class="item-toggle">
                <ui-toggle></ui-toggle>
            </div>
        </div>
    </ui-button>

    <ui-button class="js-logout">
        <div class="item">
            <div class="item-icon"></div>
            <p class="item-name">
                <ui-i18n string="logout"></ui-i18n>
            </p>
        </div>
    </ui-button>

    <ui-button class="js-about">
        <div class="item">
            <div class="item-icon icon-tab"></div>
            <p class="item-name">
                <ui-i18n string="aboutApp"></ui-i18n>
            </p>
        </div>
    </ui-button>

</section>
