<li class="item">
    <p class="number"></p>
    <p class="name"></p>
</li>


<section class="playlist">
    <ul class="list">

    </ul>
    <footer class="footer">
        playlist_name (
        <span class="list-count"></span>
        )
    </footer>
</section>
