:host
	display block


.playlist
	height 100%

	.list
		margin 0
		padding 0
		height calc(100% - 30px)
		overflow auto

		&::-webkit-scrollbar
			width 5px
		&::-webkit-scrollbar-thumb
			background #ddd
		&::-webkit-scrollbar-track
			background #fafafa



		.item
			display flex
			align-items center
			height 40px
			border-bottom #aaa 1px solid

			.number
				width 66px
				text-indent 26px
				color #999
				margin 0

			.name
				width 70px
				flex-grow 1
				color #6a6a6a
				margin 0
				// todo elipsis


	.footer
		height 30px
		background #eee









